<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Update_Your_Hosts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Update_Your_Hosts.Properties.Settings>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Параметр1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Параметр2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Параметр3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Параметр4" serializeAs="String">
                <value>False</value>
            </setting>
        </Update_Your_Hosts.Properties.Settings>
    </userSettings>
</configuration>